<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category list</title>
</head>

<body>
    <h1>Category list</h1>

    {{#each categories}}
    <ul>
        {{this.id}} <br> {{this.name}}
    </ul>

    {{/each}}
</body>

</html>